body {
  background: white;
}

h1 {
  color: rgb();
}
.non {
  background: linear-gradient(
    rgb(187, 118, 22, 0.31) 0%,
    rgb(212, 168, 107, 0.2) 18%,
    rgb(218, 180, 128, 0.17) 21%,
    rgb(237, 218, 193, 0.08) 30%,
    rgb(249, 243, 235, 0.03) 62%
  );
  width: 613px;
  height: 2509px;
}

.oui {
  background: linear-gradient(
    rgb(187, 118, 22, 0.69) 0%,
    rgb(212, 168, 107, 0.8) 18%,
    rgb(218, 180, 128, 0.83) 21%,
    rgb(237, 218, 193, 0.92) 30%,
    rgb(249, 243, 235, 0.97) 62%
  );
  width: 613px;
  height: 2509px;
}
