* {
  box-sizing: border-box;
}
body {
  margin: 0; /* delete defaults margins from body */
  padding: 0; /* delete default padding */
}

.base {
  width: 100%;
  height: 1105px;
  background: linear-gradient(
    rgba(187, 118, 22, 0.69) 0%,
    rgba(212, 168, 107, 0.8) 18%,
    rgba(237, 218, 193, 0.92) 30%,
    rgba(249, 243, 235, 0.97) 62%
  );
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.horizontal_stripe {
  width: 100%;
  height: 214px;
  background: rgba(255, 225, 162, 1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.slogan {
  width: 640px;
  color: rgba(255, 62, 62, 1);
  position: relative;
  top: 65px;
  left: 55%;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.vertical_stripe {
  width: 216px;
  height: 100%;
  background: linear-gradient(
    rgba(255, 156, 113, 0.65) 0%,
    rgba(202, 123, 89, 0.65) 50%,
    rgba(153, 93, 68, 0.65) 100%
  );

  opacity: 1;
  position: relative;
  top: 0px;
  left: 82px;
  overflow: hidden;
}
.logo {
  width: 103px;
  color: rgba(124, 17, 17, 1);
  position: absolute;
  top: 14px;
  left: 10px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.logo:hover {
  cursor: pointer;
  color: rgb(247, 173, 142);
}

.modification_link {
  color: inherit; /* inheits the color of its parent */
  text-decoration: none; /* delete underline */
}
.menu {
  display: flex;
  justify-content: flex-end; /*space-around; center horizontally elements */
  align-items: center;
  gap: 0; /* adjusts the space between each menu item */
  width: 198px; /*here the menu occupies the entire width...*/
  /*width: calc(100% - 200px);  adjust width to exclude the pink div */
  margin-left: 185px;
  height: 60px;
  position: absolute;
  top: 1px;

  right: 0;
  left: 298;
}

.menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /*right: 100%;*/
  font-size: 26px;
  font-family: Inter;
  gap: 10;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  padding: 0 50px;
  white-space: nowrap;
}
.menu_icon:hover {
  cursor: pointer;
  border-radius: 10px;
  color: rgba(97, 10, 10, 1);
  transition: background-color 0.2s ease;
}

.invisible_bar_right,
.invisible_bar_left {
  width: 0px;
  height: 72px;
  margin: 0; /* remove any space around separation lines*/
}
.invisible_bar_right {
  background-color: transparent;
}
.invisible_bar_left {
  background-color: transparent;
}
.first_sep,
.second_sep,
.third_sep,
.fourth_sep {
  width: 2px;
  height: 72px;
  margin: 0;
  background-color: rgba(255, 156, 113, 1);
}
.menu_icon,
.first_sep,
.second_sep,
.third_sep,
.fourth_sep {
  transform: translateY(15px); /* lower the lines by 15px */
}
.artwork,
.tutorial,
.mentoring,
.about_web,
.contact:hover {
  background-color: rgba(255, 156, 113, 0.65) 50%;
  padding: 15px;
}

.artwork {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  white-space: nowrap;
}
.artwork:hover {
  /*cursor: pointer;*/
  background-color: rgb(247, 173, 142);
  border-radius: 10px;
  color: rgba(97, 10, 10, 1);
  transition: background-color 0.2s ease;
}
.tutorial {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  white-space: nowrap;
}

.tutorial:hover {
  cursor: pointer;
  background-color: rgb(247, 173, 142);
  border-radius: 10px;
  color: rgba(97, 10, 10, 1);
  transition: background-color 0.2s ease;
}

.mentoring {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  white-space: nowrap;
}
.mentoring:hover {
  cursor: pointer;
  background-color: rgb(247, 173, 142);
  border-radius: 10px;
  color: rgba(97, 10, 10, 1);
  transition: background-color 0.2s ease;
}

.about_web {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  white-space: nowrap;
}
.about_web:hover {
  cursor: pointer;
  background-color: rgb(247, 173, 142);
  border-radius: 10px;
  color: rgba(97, 10, 10, 1);
  transition: background-color 0.2s ease;
}
.contact {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: rgba(255, 225, 162, 1);
  text-align: center;
  padding: 15px;
  white-space: nowrap;
  width: 90px;
}

.phone {
  width: 70px; /*112px;*/
  height: 70px; /*112*/
  background: url("../passionart/image/telephone.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 75px;
  overflow: hidden;
  z-index: 1;
}

.contact_details {
  width: 100%; /*1226px;*/
  height: 610px;
  background-color: rgba(247, 247, 247, 0.9);
  border: 1px solid rgba(200, 200, 200, 0.5);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 0px;
  overflow: hidden;
}

.title_left {
  width: 514px;
  height: 148;
  color: rgba(85, 54, 10, 1);
  position: absolute;
  top: 50px;
  left: 36px;
  font-family: Italiana;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
  font-size: 24px;
}
.horizon {
  width: 80%; /*374.08px;*/
  height: 2px;
  background-color: rgba(85, 54, 10, 0.8);
  margin: 20px auto;
  top: 228.14 px;
}

.title_right {
  width: 514px;
  height: 130;
  position: absolute;
  top: 12px;
  left: 706px;
  font-family: Italiana;
  font-size: 24px;
  font-weight: bold;
  color: rgba(85, 54, 10, 1);
  opacity: 1;
  text-align: left;
  /*margin-bottom: 10px;*/
  /*text-align: center;*/
}

.perso {
  width: 514px;
  color: rgba(85, 53, 9, 1);
  position: absolute;
  top: 320px;
  left: 20px;
  font-family: Italiana;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  text-align: center;
}

.geo {
  width: 735px;
  height: 426px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 600px;
  border: 1px solid rgba(85, 53, 9, 1);
  /*overflow: hidden;*/ /*prevented me from seeing beyond the map boundary*/
}
.geo iframe {
  width: 100%;
  height: 100%;
  pointer-events: none; /* disables user intersections*/
  border: 0; /* he keep the embroidery clean */
}
.geo:hover iframe {
  pointer-events: auto; /* enable hover interactions */
}
.point_separation {
  width: 10px;
  height: 10px;
  background: rgba(85, 53, 9, 1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 240px;
  border-radius: 50%;
  margin: 20px;
}
